body {
  background: var(--bg-image);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--font);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}
a {
  color: var(--link);
  text-decoration: none;
}
a:is(:active, :hover, :focus) {
  color: var(--link-active);
}
.logo {
  border-radius: 50%;
  border: var(--border);
  display: flex;
  margin: 0.8rem;
}
header {
  background-color: var(--container);
  color: var(--font);
  display: flex;
  height: 10vh;
  position: sticky;
  text-align: center;
  width: 100%;
}
.brd {
  color: inherit;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  height: min-content;
  margin: 3svh;
  text-align: left;
  text-decoration: none;
  width: fit-content;
}
.container {
  background-color: var(--container);
  border-radius: 6px;
  box-shadow: var(--box-shadow);
  display: flex;
  font-size: 1.5rem;
  margin: auto;
  margin-top: 2rem;
  max-width: 60vw;
  min-height: fit-content;
  padding: 1.5rem;
  text-align: justify;
  line-break: anywhere;
}
.left{
  background-color: var(--aside);
  float: left;
  height: 85vh;
  overflow: hidden;
  padding-top: 0.2rem;
  position: sticky;
  width: 10vw;
  .main-nav{
    ul{
      font-size: 1.5rem;
      list-style-type: none;
      padding: 1rem 0 0 0;
      text-align: center;
      padding: 0;
      li{
        a{
          color: white;
        }
        &:first-child{
          border-top-right-radius: 5px;
        }
        &:last-child{
          border-bottom-right-radius: 5px;
        }
        margin: auto;
        font-weight: 600;
        box-shadow: .5ch 0px 0px var(--accent-1) inset;
        transition-property: box-shadow;
        transition: 500ms ease-out;
        transition-delay: 200ms;
        &:hover{
          box-shadow: 200px 0 0 var(--accent-1) inset;
          transition: box-shadow 500ms cubic-bezier(0.23, 1, 0.320, 1);
        }
      }
    }
  }
}
footer{
  background-color: black;
  bottom: 0;
  clear: both;
  height: 3vh;
  margin: 0;
  width: 100%;
  position: absolute;
  padding: 1rem 0;
  text-align: center;
  z-index: 3;
}