* {
	padding: 0;
  	margin: 0;
}
@media (prefers-color-scheme: dark) {
  * {
    --bg: #252424;
    --font: #d6d6d6;
    --container: #181818;
    --link: #2f6cdf;
    --border: #2f2f2f solid 2px;
    --button: #2a2a2a;
}
.bold{
	font-weight: bold;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--font);
  background-color: var(--bg);
}
.semibold{
	font-weight: 600;
}
.header {
  color: var(--font);
  text-align: center;
  background-color: var(--container);
  border-bottom: var(--border);
  height: 10vh;
  width:100%;
  position: sticky;
}
.header-title {
  text-decoration: none;
  color: inherit;
  display: flex;
  width: fit-content;
  padding: 2vh;
  text-align: left;
  font-weight: 700;
  font-size: 2rem;
}
.container {
  width: max(38vw);
  height: max() min(5vh);
  background-color: var(--container);
  margin: auto; 
  margin-top: 15vh;
  border-radius: 6px;
  padding: 2vh 2vw 2vh 2vw;
  text-align: justify;
  font-size: 1.5rem;
}
a {
  transition: 300ms color; 
  color: var(--font); 
}
a:hover {
  color: var(--link);
  transition: 300ms color; 
}
.lang-btn {
  background-color: var(--button);
  border: var(--border);
  aspect-ratio: 1 / 1;
  width: 3vw;
  border-radius: 20px;
  color: var(--font);
  display: flex;
  float: right;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  cursor: pointer; 
}
.lang-btn:hover {
	color: var(--link);
}
.lang-btn:active {
  background-color: var(--bg);
}
.nav>li, .nav>li>a{
	color: inherit; 
	display: inline;
	text-decoration: none;
	float: right;
	margin-inline: .2rem;
	font-size: 1.3rem;
}
.nav>li>a:hover{
	color: var(--link);
}
.flex{
	display: flex;
}
