body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #d6d6d6;
  background-color: #252424;
}
header {
  color: #f5f5f5;
  text-align: center;
  background-color: #181818;
  border: #181818;
  border-radius: 15px;
}
body p {
  text-align: left;
  color: #aaaaaa;
}
a.nav {
  text-decoration: none;
  color: inherit;
  padding-left: 8px;
}
div.social-media {
  display: flex;
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
  background-color: #fff1;
}
div.social-media:hover {
  transition-duration: 400ms;
  background-color: #fff2;
}
div.social-media:hover ul.social-menu {
  display: inline;
  transition-duration: 300ms;
}
ul.social-menu li {
  display: inline;
  padding-inline: 4px;
}
ul.social-menu {
  margin: 0px;
  display: none;
  padding: 0px;
  color: white;
}
a.social {
  text-decoration: none;
  color: inherit;
}
img.dropdown-icon {
  padding-inline: 3px;
  padding-top: 3px;
}
div.container {
  width: fit-content;
  height: fit-content;
  background-color: #181818;
  margin: auto;
  border-radius: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-inline: 40px;
  text-align: center;
}
a:hover {
  color: rgb(47, 108, 223);
  transition-duration: 600ms;
}
